<h1>Candidate</h1>

<table>
  <tr>
    <td>
      <strong>{{id}}:</strong>
    </td>
    <td>
      {{name}}
    </td>
    <td>
      {{email}}
    </td>
  </tr>
</table>

{{#linkTo 'candidate.edit'}}Change{{/linkTo}}

{{outlet}}
